#card {
   max-width: 540px;
    min-height: 280px;
}

#cardMain {
    display: flex;
    justify-content: center;
}

#containerImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverImage {
    
}