@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@400;500;600&display=swap');

/* * {
    border: 1px dotted red;
} */

body {
    font-family: 'Outfit';
    margin: 0 auto;
}